!.gitignore

*.jar
*.zip
*.log
microarch.iml

*.mp4
*.dmg
target

.DS_Store
Thumbs.db

*.bak
*.tem
*.temp
#.swp

.idea/*
*.iml
*.ipr
*.iws
out
topology/devEnv/.vagrant
elasticsearch/data/
elasticsearch/log/
filebeat/data/
kibana/data/

nixle.log
